Unable to parse Veeam MIB

Hi,

I am getting error like:

> pysnmp.smi.error.MibNotFoundError: VEEAM compilation error(s): missing; missing; missing; missing; missing; missing; no module "SNMPv2-SMI" in symbolTable at MIB VEEAM-MIB

Repro steps:
1. Use Mibdump.py on source of veeam.mib
2. Changed DisplayString to be imported from SNMPv2-TC - found somewhere your advices (does not change behaviour)

Veeam.mib

```
VEEAM-MIB DEFINITIONS ::= BEGIN

IMPORTS
   enterprises
      FROM RFC1155-SMI
   TRAP-TYPE 
      FROM RFC-1215
   OBJECT-TYPE 
      FROM RFC-1212
   DisplayString 
      FROM SNMPv2-TC;

veeam         OBJECT IDENTIFIER ::= { enterprises 31023 }
products      OBJECT IDENTIFIER ::= { veeam 1 }
backup        OBJECT IDENTIFIER ::= { products 1 }
traps         OBJECT IDENTIFIER ::= { backup 1 }

onBackupJobCompleted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { backupJobId, backupJobName, backupJobResult, backupJobComment }
   DESCRIPTION 
      "This trap is sent on backup/replica job completed." 
   ::= 1 

onVmBackupCompleted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { backupJobName, vmName, sourceHostName, vmBackupResult, vmBackupComment }
   DESCRIPTION 
      "This trap is sent on vm backup/replica completed." 
   ::= 2 

onLinuxFLRMountStarted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { sessionId, initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime }
   DESCRIPTION 
      "This trap is sent when Multi-OS FLR helper appliance starts." 
   ::= 3 

onLinuxFLRCopyToStarted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { sessionId, initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime, targetHost, targetDir }
   DESCRIPTION 
      "This trap is sent when Multi-OS FLR file recovery via Copy To operation is initiated." 
   ::= 4 

onLinuxFLRToOriginalStarted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { sessionId, initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime }
   DESCRIPTION 
      "This trap is sent when Multi-OS FLR file recovery via Restore operation is initiated." 
   ::= 5 

onLinuxFLRCopyToFinished TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { sessionId, initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime, transferStatus, transferTime, transferFileList, notTransferFileList, targetHost, targetDir }
   DESCRIPTION 
      "This trap is sent when Multi-OS FLR file recovery via Copy To operation is completed." 
   ::= 6 

onLinuxFLRToOriginalFinished TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { sessionId, initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime, transferStatus, transferTime, transferFileList, notTransferFileList }
   DESCRIPTION 
      "This trap is sent when Multi-OS FLR file recovery via Restore operation is completed." 
   ::= 7 

onWinFLRMountStarted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { initiatorName, initiatorSid, vmName, vmRestorePointCreationTime, vmRestorePointId, mountServerName }
   DESCRIPTION 
      "This trap is sent when Windows FLR starts to mounts a backup." 
   ::= 8

onWinFLRToOriginalStarted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime }
   DESCRIPTION 
      "This trap is sent when Windows FLR file recovery via Restore operation is completed." 
   ::= 9

onWinFLRCopyToStarted TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime, targetDir }
   DESCRIPTION 
      "This trap is sent when Windows FLR file recovery via Copy To operation is initiated." 
   ::= 10

onWinFLRToOriginalFinished TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime, transferStatus, transferFileList, notTransferFileList }
   DESCRIPTION 
      "This trap is sent when Windows FLR file recovery via Restore operation is completed." 
   ::= 11

onWinFLRCopyToFinished TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { initiatorName, initiatorSid, vmName, vmRestorePointId, vmRestorePointCreationTime, transferStatus, transferFileList, notTransferFileList, targetDir }
   DESCRIPTION 
      "This trap is sent when Windows FLR file recovery via Copy To operation is completed." 
   ::= 12

onWebDownloadStart TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { initiatorName, initiatorSid, vmRestorePointId, vmName, vmRestorePointCreationTime }
   DESCRIPTION 
      "This trap is sent when 1-Click FLR file download operation is initiated in the Enterprise Manager." 
   ::= 13

onWebDownloadFinished TRAP-TYPE 
   ENTERPRISE traps 
   VARIABLES { initiatorName, initiatorSid, vmRestorePointId, vmName, vmRestorePointCreationTime, transferStatus, transferFileList, notTransferFileList }
   DESCRIPTION 
      "This trap is sent when 1-Click FLR file download operation is completed in the Enterprise Manager." 
   ::= 14

backupJobId OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255))
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Backup job id"
   ::= { backup 101 }

backupJobName OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Backup job name"
   ::= { backup 102 }
   
backupJobResult OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Backup job result"
   ::= { backup 103 }
   
backupJobComment OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Backup job comment"
   ::= { backup 104 }

vmName OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "VM name."
   ::= { backup 105 }

sourceHostName OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Source host name"
   ::= { backup 106 }

vmBackupResult OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "VM backup result"
   ::= { backup 107 }

vmBackupComment OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "VM backup comment"
   ::= { backup 108 }

sessionId OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Restore session ID"
   ::= { backup 109 }

initiatorName OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Initiated by"
   ::= { backup 110 }

initiatorSid OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Initiated by (SID)"
   ::= { backup 111 }

vmRestorePointId OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Restore point ID"
   ::= { backup 112 }

vmRestorePointCreationTime OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Restore point creation time"
   ::= { backup 113 }

targetHost OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Target host"
   ::= { backup 114 }

targetDir OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Target directory"
   ::= { backup 115 }

transferStatus OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Restore result"
   ::= { backup 116 }

transferTime OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Restore time"
   ::= { backup 117 }

transferFileList OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Restored files"
   ::= { backup 118 }

notTransferFileList OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Failed to restore"
   ::= { backup 119 }
   
mountServerName OBJECT-TYPE
   SYNTAX     DisplayString (SIZE (0..255)) 
   ACCESS     read-only 
   STATUS     mandatory
   DESCRIPTION
      "Mount server name"
   ::= { backup 120 }
END
```

Tried to verify this mib with online parser, still no clue - should imports be changed?


Changed imports to:
```
   IMPORTS
   TRAP-TYPE, OBJECT-TYPE
      FROM SNMPv2-SMI
   enterprises, DisplayString 
      FROM SNMPv2-TC;
```

Still no luck

Issue resolved by changing imports to
```
IMPORTS
   TRAP-TYPE 
      FROM RFC-1215
   enterprises, OBJECT-TYPE 
      FROM SNMPv2-SMI
   DisplayString 
      FROM SNMPv2-TC; 
```
And including all files in the mib's directory like rfc-1215 etc.

Please close.

It should not require any changes to the MIB as pysmi can readily parse SMIv1 MIBs as well.

This now works for me out of the box:

```
$ mibdump.py VEEAM-MIB 
Source MIB repositories: file:///usr/share/snmp/mibs, http://mibs.snmplabs.com/asn1/@mib@
Borrow missing/failed MIBs from: http://mibs.snmplabs.com/pysnmp/notexts/@mib@
Existing/compiled MIB locations: pysnmp.smi.mibs, pysnmp_mibs
Compiled MIBs destination directory: /home/user/.pysnmp/mibs
MIBs excluded from code generation: RFC-1212, RFC-1215, RFC1065-SMI, RFC1155-SMI, RFC1158-MIB, RFC1213-MIB, SNMP-FRAMEWORK-MIB, SNMP-TARGET-MIB, SNMPv2-CONF, SNMPv2-SMI, SNMPv2-TC, SNMPv2-TM, TRANSPORT-ADDRESS-MIB
MIBs to compile: VEEAM-MIB
Destination format: pysnmp
Parser grammar cache directory: not used
Also compile all relevant MIBs: yes
Rebuild MIBs regardless of age: yes
Dry run mode: no
Create/update MIBs: yes
Byte-compile Python modules: yes (optimization level no)
Ignore compilation errors: no
Generate OID->MIB index: no
Generate texts in MIBs: no
Keep original texts layout: no
Try various file names while searching for MIB module: yes
Created/updated MIBs: VEEAM-MIB
Pre-compiled MIBs borrowed: 
Up to date MIBs: RFC-1212, RFC-1215, RFC1155-SMI, SNMPv2-CONF, SNMPv2-SMI, SNMPv2-TC
Missing source MIBs: 
Ignored MIBs: 
Failed MIBs: 
```

And for [JSON]( http://mibs.snmplabs.com/json/fulltexts/VEEAM-MIB.json) as well.