JSON output fails if a descriptor is a Python keyword

I'm getting an error when parsing a certain MIB:
```
mibdump.py --destination-format=json HUAWEI-MIB
Source MIB repositories: file:///usr/share/snmp/mibs, http://mibs.snmplabs.com/asn1/@mib@
Borrow missing/failed MIBs from: http://mibs.snmplabs.com/json/notexts/@mib@
Existing/compiled MIB locations: 
Compiled MIBs destination directory: .
MIBs excluded from code generation: RFC-1212, RFC-1215, RFC1065-SMI, RFC1155-SMI, RFC1158-MIB, RFC1213-MIB, SNMPv2-CONF, SNMPv2-SMI, SNMPv2-TC, SNMPv2-TM
MIBs to compile: HUAWEI-MIB
Destination format: json
Parser grammar cache directory: not used
Also compile all relevant MIBs: yes
Rebuild MIBs regardless of age: no
Dry run mode: no
Create/update MIBs: yes
Byte-compile Python modules: no (optimization level no)
Ignore compilation errors: no
Generate OID->MIB index: no
Generate texts in MIBs: no
Keep original texts layout: no
Try various file names while searching for MIB module: yes
Created/updated MIBs: 
Pre-compiled MIBs borrowed: 
Up to date MIBs: SNMPv2-CONF, SNMPv2-SMI, SNMPv2-TC
Missing source MIBs: 
Ignored MIBs: 
Failed MIBs: HUAWEI-MIB (No generated code for symbol pysmi_as at MIB HUAWEI-MIB)
```

It looks like this is caused by 1.3.6.1.4.1.2011.2.36 with descriptor 'as,' which is a python keyword.

did you solve the issue? in my case works with  http://mibs.snmplabs.com source

> did you solve the issue? in my case works with http://mibs.snmplabs.com source

Would you mind sharing your command/output? I'm guessing the bug won't occur if you're pulling the pre-compiled MIB from somewhere.

This is fixed in #68 and has been now available from many pysmi forks.